.p
{
    position: absolute;
    margin-left: 43%;
    background-color: tomato;
}
body
{
    background-color: rgb(25, 233, 119);
    background-image: url(https://www.freepik.es/vector-gratis/fondo-lluvia-pixeles-abstractos-gradiente_6144464.htm);
    
}

.texto
{
    position: absolute;
    margin-top: 30%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 4ch;
}

h2
{
    margin-top: 0%;
    font-family: 'Bungee', cursive;
    font-size: 2ch;

}

.direccion
{
    position: absolute;
    margin-top: 20%;
    margin-left: 39%;
  
}

a{
    font-family: 'Bungee', cursive;
       padding-right: 150px;
       color: black;
}
#imagenes{
	width:220px;
    height:150px;
    
}



#titulo
{
    position: absolute;
    margin-top: 30%;
    margin-left: 31%;
    padding-right: 0px;
    background-color: blueviolet;
}


.d{
	text-align:center;
	float:left;
    margin-top: 35%;
	padding: 15px;
	width: 400px;
	height: 500px;
	border: 2px solid rgb(13, 137, 141);
	border-style: double;
} 
.d2{
	text-align:center;
	float:left;
    margin-top: 0%;
	padding: 15px;
	width: 400px;
	height: 500px;
	border: 2px solid rgb(175, 20, 20);
	border-style: double;
} 

#imagenn{
	width:150px;
	height:150px;
}
#imagennn{
	width:250px;
	height:150px;
}

.pe{
	text-align:justify;
    font-size:20px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.pee
{
    text-align: justify;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;

}

.orale
{
    text-align:justify;
    font-size:20px;
    font-family: 'PT Sans Narrow', sans-serif; 
}

#p3{

    position: absolute;
    margin-top: 115%;
    top: 30%;
    background-color: blueviolet;
}


